/* Your CSS styles here! */

body{
    background: rgb(213, 231, 247);
    text-align: left;
  }
  h1{
    color:rgb(21, 79, 195);
    padding:10px;
    text-align: center;
    font-size: 4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  h2{
    color:rgb(103, 150, 232);
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;

  }
  h3{
    color:rgb(242, 251, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  p{
    color: cornflowerblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
  }
  nav ul{
    list-style-type: none;
    padding:0;
    margin:0;
    display:flex;
    justify-content: space-around;
    font-size: 2rem;

  }

  nav ul li a {
    display: block;
    padding: 10px 20px; 
    text-decoration: none; 
    color: #000;  
    
}

nav ul li a:hover {
    color: #fff; /* Change text color on hover */
}

.container{
  display:grid;
  grid-template-areas: "header header" "menu content";
  grid-template-columns: 1fr 3fr;
  gap:5px;
  background-color: darkblue;
  padding: 5px;
  margin: 20px;
  border: 5px solid white;
}
container > div.header{
  color: white;
  text-align: center;
}
